table tr:nth-child(even){
    background-color: grey;
}

caption {
    padding: 10px;
    caption-side: bottom;
      color: var(--back);
      font-size: .85rem;
  }

  th{
    color:white;
    background-color: black;
  }