/* Media query for larger views with a minimum width of 768pixels */
@media screen and (min-width: 992px) {
    body {
      font-size: 18px;
    }

 
 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr; /* Three columns for large screens */
     grid-gap: 2rem;
 }


}


